.app-footer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-background-color);
  font-size: 12px;
  color: var(--footer-color);
}
