.home-header {
  margin-bottom: 24px;

  h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
  }

  p {
    margin: 4px 0 0;
    color: #666;
  }
}


/* Cards con Estadísticas */
.stats-grid {
  display: flex;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap; // Para que sea responsivo
}

.stat-card {
  flex: 1;
  min-width: 200px;
  border-radius: 16px !important; // Más redondeado como en el boceto
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
  position: relative;
  overflow: visible; // Para que el icono sobresalga
  padding: 8px 10px;
  background-color: #ffffff;

  .icon-floating {
    position: absolute;
    top: -22px;
    left: 24px;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
    
    mat-icon { font-size: 24px; width: 24px; height: 24px; }
  }

  .stat-label {
    color: #5D7A91;
    font-weight: 700;
    //font-size: 0.85rem;
    display: block;
    margin-top: 25px;
  }

  .stat-value {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2c3e50;
    margin: 8px 0;
  }

  .stat-subtext {
    font-size: 0.85rem;
    color: #94a3b8;
    margin-bottom: 12px;
    
    .trend-up { color: #00BFA5; font-weight: 600; }
  }

  mat-progress-bar {
    height: 6px;
    border-radius: 3px;
    margin-bottom: 12px;
    background-color: #f1f5f9;
  }

  .stat-footer {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.7rem;
    color: #64748b;
    cursor: pointer;
    &:hover { color: #00BFA5; }
    mat-icon { font-size: 14px; width: 14px; height: 14px; }
  }


  /* Chart */
  .mat-mdc-card-title {
    color: #2c3e50;
    font-weight: 700;
  }

  .chart-container {
    height: 300px; // Altura fija para el gráfico
    margin-top: 20px;
  }


  .full-width-table {
    width: 100%;
    margin-top: 16px;
  }


  // Estilo de los Badges
  .status-badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;

    // Variantes de color según el estado
    &.confirmado {
      background-color: #E0F2F1; // Verde agua muy claro
      color: #00897B;           // El turquesa de tu diseño
    }

    &.pendiente {
      background-color: #FFF8E1; // Amarillo muy claro
      color: #F57F17;           // Ámbar
    }

    &.cancelado {
      background-color: #FFEBEE; // Rojo muy claro
      color: #D32F2F;           // Rojo médico
    }
  }

  // Pulido de la tabla
  .mat-mdc-header-cell {
    color: #5D7A91; // El azul de tu sidebar
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
  }

  .mat-mdc-row:hover {
    background-color: #F8FAFC; // Efecto hover sutil
  }
  
}